.home-container {
  background-color: #ded5ce;
  width: 100%;
  min-width: 375px;
}

.home-intro-text {
  color: #4b443d;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  white-space: pre-line;
}

.home-text {
  color: #4b443d;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  white-space: pre-line;
}

.home-title {
  margin-bottom: 7px;
  font-weight: 530;
  font-size: 27px;
  line-height: 39px;
  color: #4b443d;
}

.home-subtitle {
  font-weight: 530;
  font-size: 22px;
  line-height: 33px;
  color: #c1694d;
}

.home-title-clickable {
  cursor: pointer;
  text-decoration: none;
}

.home-title-clickable:visited,
.home-title-clickable:hover,
.home-title-clickable:active {
  color: #c1694d;
  text-decoration: none;
}

.home-intro-text {
  margin-top: 30px;
}

.home-header {
  position: relative;
  width: 100%;
}

.home-logo {
  width: 60%;
  position: absolute;
  margin-top: 160px;
  margin-bottom: -15px;
  z-index: 1000;
}

.home-subheader-logo {
  z-index: 1000;
  height: 70px;
}

.home-background-image {
  width: 100%;
  z-index: 0;
}

.home-social-row {
  position: absolute;
  width: 85%;
  bottom: 30px;
  height: 55px;
}

.home-social-icon {
  width: 55px;
  height: 55px;
  margin: 0 5px 0 5px;
  color: inherit;
  text-decoration: none;
}

.home-social-icon:visited,
.home-social-icon:hover,
.home-social-icon:active {
  color: inherit;
  text-decoration: none;
}

.footer-social-icon {
  width: 65px;
  height: 65px;
  margin: 0 5px 0 5px;
  color: inherit;
  text-decoration: none;
}

.footer-social-icon:visited,
.footer-social-icon:hover,
.footer-social-icon:active {
  color: inherit;
  text-decoration: none;
}

.home-footer {
  width: 100%;
  background: #4b443d;
  padding: 75px 0 75px 0;
  margin-top: 10px !important;
}

.footer-title {
  font-weight: 530;
  font-size: 22px;
  line-height: 33px;
  color: #ded5ce;
  text-align: left;
}

.footer-legal-link {
  color: #ded5ce;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.75;
  text-decoration: none;
}

.footer-legal-link:visited,
.footer-legal-link:hover,
.footer-legal-link:active {
  color: #ded5ce;
  text-decoration: none;
}

.footer-legal-link:hover {
  opacity: 1;
}

.home-seger-image {
  width: 100%;
  height: 100%;
}

.home-seger-link {
  padding-bottom: 30px;
}
